{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <marquee behavior="scroll" direction="left" scrollamount="15">
  <pre>
8888888888                                                                     
888                                                                            
888                                                                            
8888888 888d888  8888b.  88888b.   .d8888b  .d88b.  .d8888b   .d8888b  .d88b. 
888     888P"       "88b 888 "88b d88P"    d8P  Y8b 88K      d88P"    d88""88b
888     888     .d888888 888  888 888      88888888 "Y8888b. 888      888  888
888     888     888  888 888  888 Y88b.    Y8b.          X88 Y88b.    Y88..88P
888     888     "Y888888 888  888  "Y8888P  "Y8888   88888P'  "Y8888P  "Y88P" 
  </pre>
  </marquee>
  </h1>
  <div class="menu">
    <ul>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
