<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>

    <script>
    function enableLightStyles(number) {
      var cssId = 'main-light';
      if (!document.getElementById(cssId))
      {
          var head  = document.getElementsByTagName('head')[0];
          var link  = document.createElement('link');
          link.id   = cssId;
          link.rel  = 'stylesheet';
          link.type = 'text/css';
          link.href = "{{ "/assets/main-light.css" | relative_url }}";
          link.media = 'all';
          head.appendChild(link);
      }
    }
    </script>
  </body>
</html>
